.header { 
    display: flex;   
    flex-direction: row; 
    justify-content: space-between;
    justify-items: center;     
    color: $white_clr;           
    text-align: center;  
    width: 100%;
    padding: 0.2em;
    border-bottom: 1px solid #a9a9a9;
    background-color: rgba(#191B26, 0.3);
    &__title {      
        padding: 0.5em;       
    }
    &__link {   
        align-self: center;                   
        &--link{
            font-weight: bold;
            font-size: larger;
            margin-right: 0.8rem;
            background-color: seagreen;
            padding: 0.7em;
            border-radius: 10px;                    
        }
    }    
}

.main {
    background-color: $white_clr;
    padding: .5rem 2rem 2rem;
    margin-top: 1rem;
    border-radius: $border-radius;
    box-shadow: $container-box-shadow;
    &__create-employee {   
        text-align: center;
        margin: .9rem;
        color: $tertiary_clr;
    }
    .form {
        &__inputwrapper {
            display: flex;
            flex-direction: column;
            margin: .5rem 0;
            input {
                height: 2.5rem;
                width: 20rem;
                border-radius: $border-radius;
                border: 1px solid $gray_clr;
                padding: 15px;
                outline: 0;
                @include hover-focus;              
            }
        }
        &__fieldset {
            border-radius: $border-radius;
            border: 2px solid $gray_clr;
            padding: 5px 20px;
            margin-bottom: .8em;
            input{
                height: 1.1rem;
                width: 7rem;
            }
            input[id="street"] {
                width: auto;                              
            } 
            input[className="react-dropdown-select-input"]{
                height: 100%;            
            } 
            label[for="State"]{
                display: block;
                margin-top: 2px;
            }                   
        }
        &__error-msg {
            color:$red_clr;
            font-size: small;
        }
        
        &__submit{
            display: block;
            width: 100%;
            margin-top: 4rem;
            @include button(100%);
        }
      
        .bgColor{
            background-color: white;
            border-radius: $border-radius;           
        }
    }
}