.title {
    margin-top: .5em;
}
.employee-list {
    min-width: 1250px;
    background-color: $white_clr;
    padding: 0.1em;
    border-radius: 4px;
    margin-top: 1em;
    box-shadow: $container-box-shadow;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto; 
    &__search {
        @include section-employee-list;
        margin: 0.5em 0.1em;
        &--select {
            display: inline-flex;
            align-items: center; 
            font-weight: bold;
            .select-row {
                width: 5rem;
                margin: 0.2em;
            }
        }
        &--wrapper {
            display: inline-flex;
            .search-icon {
                font-size: 2rem;
                transform: rotate(90deg);
                background-color: $gray_clr;
                border-bottom-right-radius: $border-radius;
                border-bottom-left-radius:  $border-radius;
                color: $white_clr;
            }
            .search-input {
                border: 1px solid #ccc;
                padding: 0px 5px;
                outline: 0;
                @include hover-focus;
            }
        }
    }
    &__pagination {
        @include section-employee-list;
        &--showing {
            flex: 1;
            display: inline-flex;
            font-weight: bold;
            strong {
                background-color: $gray_clr;
                border-radius: 5px;
                padding: 5px 10px;
                margin-left: .4em;
            }
        }
        &--prev-next {
            display: flex;
            align-items: center;
            button {
                @include button(80px);
                background-color: darkgreen;
                font-size: 1em;
                margin: .5em;
                &:hover {
                   background-color: $seagreen_clr; 
                }
            }
            .jump {
                &__label {
                    color: $tertiary_clr;
                    font-weight: bold
                    
                }
                &__input {
                    @include input(36px);
                    height: 2.1rem;
                    padding: initial;
                    margin: 0.2em;
                    text-align: center;  
                    background-color: $gray_clr;
                    cursor: pointer;                  
                }   
                &__goto {
                    @include input(36px);
                    height: 2.1rem;
                    padding: initial;
                    margin: 0.2em;
                    text-align: center; 
                    @include hover-focus; 
                }        
            }
           
        }
    }  
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
tr {
    text-align: center;
} 
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}
.arrow {
    margin-left: .5em;   
}
.select-row {
    width:  3rem;
}