* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:  linear-gradient(
        rgba(0,0,0,0.2), 
        rgba(0,0,0,0.5)),  
        url('../assets/image/investmenthrnet.jpg');
    background-size: cover;  
    background-repeat: no-repeat;   
    font-family: Arial, Helvetica, sans-serif;   
}

#root {
    display: flex;
    flex-direction: column;        
    min-height: 100vh;  
    align-items: center; 
}

$primary_clr: #02be6e;
$secondary_clr: #0074D9;
$black_clr: rgba(0, 0, 0, 0.85);
$white_clr: rgb(232, 232, 232);
$tertiary_clr:#191B26;
$seagreen_clr :#2e8b57;
$gray_clr: #ccc;
$red_clr:red;
$container-box-shadow: 0 0 0 4px rgba(232 232 217 / 0.2);
$border-radius: 5px;

@mixin button($width) {   
    width: $width;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;  
    border: 0;
    background-color: #00bc77;
    color: #fff;
    cursor: pointer;
    border-radius: $border-radius;
}
@mixin input($width) {
    height: 2.5rem;
    width: $width;
    border-radius: $border-radius;
    border: 1px solid $gray_clr;
    padding: 15px;
    outline: 0;
}

@mixin section-employee-list {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin hover-focus {
    &:hover {
        border-color: $secondary_clr;
    }
    &:focus-within {
        border-color: $secondary_clr;
        box-shadow: 0 0 0 3px rgb(0 116 217 / 20%)
    }
}


a{
    text-decoration: none;
    color: $white_clr;
}

// div {
//     width: 600px;
//     height: 400px;
//     color: white;
//     background-color: #1c1c1c;
// }